*.o

*.diff
*.patch
*.rej
*.orig

/config.h
/config.make
/config.status

/lib/libnet-tools.a

/po/*.mo

/version.h

/arp
/hostname
/ifconfig
/ipmaddr
/iptunnel
/mii-tool
/nameif
/netstat
/plipconfig
/rarp
/route
/slattach
